node_modules/
.wwebjs_auth/
.wwebjs_cache/
uploads/
*.mp3
*.ogg

# Python virtual environment
venv/
__pycache__/
*.pyc

# Database
*.db
*.sqlite3

# Logs
*.log

# Environment variables
.env

# IDE files
.vscode/
.idea/
